.background {
    position: fixed;
    background-image: linear-gradient(rgba(40, 40, 40, 0.75), rgba(40, 40, 40, 0.75) ), url('../images/main.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}